 * {
     max-width: 50em;
     margin: auto;
 }
 
 .container {
     padding-top: 1rem;
     text-align: center;
 }
 
 .container h1 {
     font-size: 18px;
     padding: 0;
     margin: 0;
 }
 
 .container h7 {
     padding: 0;
     margin: 0;
 }
 
 .container2 {
     padding-top: 1rem;
     position: relative;
     display: flex;
 }
 
 .image-left {
     padding: 1rem;
     position: left;
 }
 
 .text-right {
     position: right;
     padding: 0rem 0rem 0rem;
 }
 
 .text-right h6 {
     font-size: 12px;
     font-weight: 200;
     padding-bottom: 1rem;
 }
 
 .text-right h1 {
     font-size: 16px;
 }
 
 .container2.image-left.image {
     height: 50rem;
     width: 40rem;
 }